<!-- <div class='class'> -->
  Article ID	
  <%= text_field 'article', 'merge_article_id'%>
  <!-- <%= link_to _("Merge"),  :class => 'btn' %> -->
  <br/>
  <%= submit_tag(_("Merge"), {:class => 'btn'}) %>

<!-- </div> -->
